
%li
  %label{ name: 'account_code' } Account Code:
  %input{ type: 'text', name: 'account_code' }

%li
  %label{ name: 'password' } Password:
  %input{ type: 'password', name: 'password' }

%li
  %label{ name: 'provider_key' } Provider Key:
  %input{ type: 'text', name: 'provider_key' }
  %p.inline-hints Please make sure that it is exactly as provided.

%li
  %label{ name: 'lcode' } Property Identifier:
  %input{ type: 'text', name: 'lcode' }
  %p.inline-hints This is the lcode.

%li
  %label{ name: 'months_ahead' } Booking months ahead:
  %input{ type: 'text', name: 'months_ahead' }
  %p.inline-hints How many months in the future is booking allowed.
