
%li
  %label{ name: 'account_code' } Account Code:
  %input{ type: 'text', name: 'account_code' }

%li
  %label{ name: 'password' } Password:
  %input{ type: 'password', name: 'password' }

%li
  %label{ name: 'provider_key' } Provider Key:
  %input{ type: 'text', name: 'provider_key' }
  %p.inline-hints Please make sure that it is exactly as provided.

%li
  %label{ name: 'lcode' } Provider Key:
  %input{ type: 'text', name: 'lcode' }
  %p.inline-hints This is the property code.
